@charset "utf-8";

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
  font-family: Noto Serif;
  font-size: 20px;
  font-weight: bold;
}

.travel-logo {
  display: flex;
  gap: 3px;

}

.travel-logo-img {
  width: 30px;
  height: 30px;
}

.travel-logo-h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.header-right {
  display: flex;
  align-items: center;
  position: relative;
}

/* hide hamburger menu */
.menu-icon {
  display: none;
  font-size: 28px;
  color: #333;
  padding: 10px;
}

/* Desktop nav */
.menu {
  display: flex;
  gap: 40px;
}

#menu-toggle {
  display: none;
}

.mv-bg {
  background: url(../img/mv-bg.png) no-repeat center center;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.mv-bg-absolute-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  color: white;
  text-align: center;
  font-family: Noto Sans;

}

.upper-content {
  margin-bottom: 40px;
}

.upper-content-firstp {
  font-size: 50px;
  margin-bottom: 15px;
  font-weight: medium;

}

.upper-content-secondp {
  font-size: 22px;
  line-height: 1.6;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;

}

.search-field {
  border-right: 1px solid #ccc;
  padding: 0px 40px;
  text-align: left;
  justify-content: center;
}



.search-field-first {
  padding-left: 10px;

}

.search-field:last-child {
  border: none;
}

.search-field-label {
  font-size: 20px;
  margin-bottom: 4px;
  color: #333;
}



.search-field-input {
  padding: 8px 0px;
  border: none;
  font-size: 16px;
  width: 80px;
  background-color: transparent;
}

.lower-content {
  max-width: 870px;
  margin: 0 auto;
  position: relative;
}

.input-group {
  display: flex;
}

.search-icon {
  background: url(../img/Icon\ ionic-ios-search.png);
  background-size: contain;
  display: block;
  width: 15px;
  height: 15px;
  margin: 10px 5px 10px 0px;
}

.search-bar-container {
  width: 870px;
  display: flex;
  padding: 10px;
  background: linear-gradient(to right, #ffffff 0%, #ffffff 60%, #4ebcd8 100%);
  border-radius: 6px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  align-items: center;


}

.explore-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 13px;
  background-color: #2547f1;
  /* width: 200px; */
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  padding: 16px 20px;
  color: white;
}



@media screen and (max-width: 880px) {

  .mv-bg-absolute-container {
    max-width: 600px;
    width: 100%;
  }

  .search-bar-container {
    max-width: 300px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, white, #97eceb);
    border-radius: 6px;
  }

  .search-field {
    border: none;
    width: 100%;
    border-bottom: 1px solid rgb(136, 203, 223);
    padding: 10px 0;
  }

  .inner-search-field {
    width: fit-content;
    margin: 0 auto;
  }

  .input-group {
    text-align: center;
    justify-content: center;

  }

  .search-field-label {
    font-size: 16px;
  }

  .search-field-input {
    font-size: 14px;
    background-color: transparent;
  }

  .explore-button {
    position: static;
    margin: 50px auto 0 auto;
    background-color: #2547f1;
    width: 200px;
    font-size: 16px;
  }

  .upper-content-firstp {
    font-size: 30px;
    text-align: center;
  }

  .upper-content-secondp {
    font-size: 18px;
    padding: 0px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;

  }

  .upper-content {
    margin: 30px 5px;
  }
}


@media screen and (max-width: 768px) {
  .header {
    padding: 8px 0px 8px 15px;
    background-color: #f2f2f5;
  }

  .header-left {
    padding: 10px;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 63px;
    right: 0;
    gap: 30px;
    background-color: white;
    padding: 20px;
    z-index: 100;
    width: 100vw;
    height: 100vh;
  }

  .menu-icon {
    display: block;
  }

  .menu-a {
    font-family: Noto Sans JP;
    padding: 8px;
    font-size: 18px;
    font-weight: 400;
    color: #232325;
  }

  .menu-icon .close {
    background: url(../img/close.png) no-repeat;
    background-size: contain;
    display: none;
    width: 35px;
    height: 35px;
  }

  .menu-icon .open {
    background: url(../img/open.png) no-repeat;
    background-size: contain;
    display: block;
    width: 35px;
    height: 35px;
  }

  #menu-toggle:checked+.menu-icon .open {
    display: none;
  }

  #menu-toggle:checked+.menu-icon .close {
    display: block;
  }

  /*display-none ပေးထားတာကို visibleဖြစ်အောင်လို့ */

  #menu-toggle:checked+.menu-icon+.menu {
    display: flex;
  }

  /* now visible and laid out in column */


  #menu-toggle:checked+.menu-icon+.menu a::after {
    content: "→";
    position: absolute;
    right: 12px;
    color: #63646b;
  }

  /* .upper-content :first-child {
    font-size: 23px;

  } */





}


.container {
  background-color: rgb(210, 225, 241);
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  padding: 60px 0 90px;
  margin-top: 30px;
  font-family: 'Zen Kaku Gothic New';
  font-size: 16px;
}

.inner-container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.notice-header {
  position: relative;
  margin-bottom: 40px;
}

.notice-header::before {
  content: "";
  background: url(../img/header-logo.png)no-repeat;
  background-size: contain;
  width: 30px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.notice-header-h1 {
  font-size: 34px;
  padding: 0 40px;
}


.notice {
  /* margin: 20px 0px; */
  border-radius: 40px;
  width: 100%;
  background-color: white;
}

.inner-notice {
  padding: 75px 20px 75px;
  max-width: 985px;
  margin: 0px auto;
}

.upper-button-wrapper {
  width: fit-content;
  margin: 0 auto;
}

.upper-button {
  display: flex;
  gap: 3px;
  margin-bottom: 20px;
  flex-wrap: wrap;

}

.notice-button {
  border-radius: 6px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 232px;
  color: black;
  background-color: rgb(192, 221, 231);
  border: none;
  font-family: 'Zen Kaku Gothic New';
  font-size: 16px;
  position: relative;
  padding: 20px;
}

.notice-button::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #2547f1;
  position: absolute;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
}

.inner-notice-btn {
  width: 100%;
  text-align: center;
}

.notice-button:active {
  background-color: rgb(34, 71, 135);
  color: white;
}

.notice-button:active::before {
  background-color: white;
}

.content-container {
  width: 100%;
  margin: 0px 0px 60px 0px;
}

.notice-content {
  display: flex;
  gap: 40px;
  border-bottom: 3px dotted rgb(192, 221, 231);
  padding: 20px 0;
}

.notice-content-left {
  max-width: 200px;
  width: 100%;
}

.left-span {
  font-family: 'Poppins';
  font-size: 14px;
}

.left-text {
  display: flex;
  margin-top: 10px;
  color: #2547f1;
}

.left-text-p::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #2547f1;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
}

.notice-content-a {
  flex: 1;
}

.notice-content-right {
  line-height: 1.5;
}

.right-logo-date {
  display: flex;
  gap: 5px;
}

.right-logo-text {
  display: flex;
  gap: 5px;
}

.right-logo-text-margin {
  display: flex;
  gap: 5px;
}

.rectangle {
  width: 5px;
  height: 13px;
  padding-top: 8px;
}

.btn-rectangle {
  width: 5px;
  height: 5px;
}

.date-logo {
  background-color: #2E57D2;
  font-family: 'Zen Kaku Gothic New';
  width: 75px;
  height: 20px;
  color: #fff;
  border-radius: 2px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-logo {
  width: 18px;
  height: 16px;
}

.font-poppins {
  font-family: 'Poppins';
  font-size: 14px;
  color: blue;
}

.font-noto {
  font-family: 'Noto Sans JP';
  color: blue;
  font-size: 14px;
  text-decoration: underline;
}

.info-btn {
  background: linear-gradient(to right, #00477A, #005B9D, #13898E, #017472);
  width: 238px;
  height: 55px;
  color: #fff;
  border-radius: 100vmax;
  align-items: center;
  margin: 0 auto;
  padding-left: 35px;
  position: relative;
  display: flex;
  font-size: 16px;
  font-weight: 500;
}

.info-btn:hover {
  background: linear-gradient(to right, #d48ee3, #ba689d, #e44a64, #e42d83);
}

.info-btn::after {
  content: '';
  background: url(../img/btn-white-circle.png)no-repeat;
  background-size: contain;
  position: absolute;
  width: 36px;
  height: 36px;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
}

.info-btn:hover::after {
  background: url(../img/btn-circle.png) no-repeat;
  background-size: contain;
}

@media (max-width: 768px) {
  .container {
    font-size: 14px;
    padding: 35px 0 30px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  .header-logo {
    width: 25px;
    height: 30px;
  }

  .notice-header {
    margin-bottom: 27px;
  }

  .notice-header::before {
    width: 25px;
    height: 25px;
    align-items: center;
  }

  .notice-header-h1 {
    font-size: 22px;
    padding: 0 28px;
  }

  .inner-notice {
    padding-top: 22px;
    padding-bottom: 69px;
  }

  .content-container {
    margin: 0px 0px 30px 0px;
  }

  .upper-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    row-gap: 6px;
  }

  .notice-button {
    width: calc(50% - 3px);
    font-size: 14px;
    gap: 0px;
    padding: 0px 15px;
    height: 45px;
    line-height: 15px;
  }

  .inner-notice-btn {
    padding-left: 20px;
  }

  .notice-content {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    line-height: 20px;
    padding-bottom: 20px;
  }

  .notice-content-left {
    max-width: 100%;
    height: 50px;
    align-items: center;
  }

  .notice-content-a {
    width: 100%;
  }

  .left-text {
    gap: 5px;
    margin: 0px;
  }

  .right-logo-date {
    display: block;
  }

  .right-logo-text-margin {
    margin-top: 20px;
  }

  .font-poppins {
    font-size: 12px;
  }

  .lower-btn {
    height: 45px;
    margin-top: 20px;
  }


}

.unorder-list {
  list-style-type: none;
}

.unorder-list li {
  font-size: 16px;
  color: #4ebcd8;
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.unorder-list li::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

